In [1]:
! pip install mlxtend
! pip install pyfpgrowth
from mlxtend.frequent_patterns import association_rules, apriori
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from sqlalchemy import create_engine
from sklearn.externals import joblib
import pyfpgrowth as fpg
from sagemaker import get_execution_role
import boto3
from s3fs.core import S3FileSystem
import pickle
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_column', None)

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/52/04/c362f34f666f0ddc7cf593805e64d64fa670ed96fd9302e68549dd48287d/mlxtend-0.17.0-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 21.9MB/s ta 0:00:01
Requirement already satisfied: pandas>=0.24.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mlxtend) (0.24.2)
Collecting scipy>=1.2.1 (from mlxtend)
  Using cached https://files.pythonhosted.org/packages/29/50/a552a5aff252ae915f522e44642bb49a7b7b31677f9580cfd11bcc869976/scipy-1.3.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting joblib>=0.13.2 (from mlxtend)
  Downloading https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
    100% |████████████████████████████████| 286kB 42.7MB/s ta 0:00:01
Requirement already satisfied: matplotlib>=3.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mlxtend) (3.0.3)
Collecting numpy>=1.16.2 (from mlxtend)
  Downloading https://files.pythonhosted.org/packages/e5/e6/c3fdc53aed9fa19d6ff3abf97dfad768ae3afce1b7431f7500000816bda5/numpy-1.17.2-cp36-cp36m-manylinux1_x86_64.whl (20.4MB)
    100% |████████████████████████████████| 20.4MB 2.5MB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.20.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mlxtend) (0.20.3)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mlxtend) (39.1.0)
Requirement already satisfied: pytz>=2011k in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.24.2->mlxtend) (2018.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.24.2->mlxtend) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib>=3.0.0->mlxtend) (2.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.11.0)
Installing collected packages: numpy, scipy, joblib, mlxtend
  Found existing installation: numpy 1.14.3
    Uninstalling numpy-1.14.3:
      Successfully uninstalled numpy-1.14.3
  Found existing installation: scipy 1.1.0
    Uninstalling scipy-1.1.0:
      Successfully uninstalled scipy-1.1.0
Successfully installed joblib-0.13.2 mlxtend-0.17.0 numpy-1.17.2 scipy-1.3.1
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
    100% |████████████████████████████████| 1.6MB 20.2MB/s ta 0:00:01
Building wheels for collected packages: pyfpgrowth
  Running setup.py bdist_wheel for pyfpgrowth ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pyfpgrowth as fpg

In [3]:
#productsPerOrder 
role = get_execution_role()
bucket='instacartresearchsymposium'
data_key = 'productsPerOrder.pickle'

s3 = S3FileSystem(anon=False)

test = pickle.load(s3.open('{}/{}'.format(bucket, data_key), mode='rb'))
test.head()

,OrderID,ProductID
0,1,"[49302, 11109, 10246, 49683, 43633, 13176, 47209, 22035]"
1,2,"[33120, 28985, 9327, 45918, 30035, 17794, 40141, 1819, 43668]"
2,3,"[33754, 24838, 17704, 21903, 17668, 46667, 17461, 32665]"
3,4,"[46842, 26434, 39758, 27761, 10054, 21351, 22598, 34862, 40285, 17616, 25146, 32645, 41276]"
4,5,"[13176, 15005, 47329, 27966, 23909, 48370, 13245, 9633, 27360, 6348, 40878, 6184, 48002, 20914, 37011, 12962, 45698, 24773, 18569, 41176, 48366, 47209, 46522, 38693, 48825, 8479]"

In [7]:
#productsPerOrder_user_id_filter - # of unique prodcuts bought

role = get_execution_role()
bucket='instacartresearchsymposium'
data_key = 'productsPerOrder_user_id_filter.pickle'
s3 = S3FileSystem(anon=False)


test = pickle.load(s3.open('{}/{}'.format(bucket, data_key), mode='rb'))
test.head()

,OrderID,ProductID
0,12,"[30597, 15221, 43772, 37886, 37215, 34335, 3164, 26910, 38888, 38050, 25213, 11175, 23390, 29471, 43511]"
1,18,"[8021, 34969, 1000, 5212, 36011, 44632, 46969, 27966, 38985, 26648, 48745, 7948, 4802, 28934, 2116, 45495, 32018, 27644, 4656, 9848, 17568, 23339, 7308, 35547, 33279, 46979, 47766, 1057]"
2,22,"[23909, 22754, 24852, 28993, 41273, 23341, 46941, 39993, 19068, 21410, 17341, 40593, 46979, 31268]"
3,28,"[35108, 40593, 17461, 22825, 25256, 47626, 37220, 12980, 27548, 45504, 18531, 47209, 24024, 38544, 37288, 31915]"
4,45,[16349]

In [8]:
#productsPerOrder_user_id_filter_v2 # of orders

role = get_execution_role()
bucket='instacartresearchsymposium'
data_key = 'productsPerOrder_user_id_filter_v2'
s3 = S3FileSystem(anon=False)


test = pickle.load(s3.open('{}/{}'.format(bucket, data_key), mode='rb'))
test.head()

,OrderID,ProductID
0,3,"[33754, 24838, 17704, 21903, 17668, 46667, 17461, 32665]"
1,4,"[46842, 26434, 39758, 27761, 10054, 21351, 22598, 34862, 40285, 17616, 25146, 32645, 41276]"
2,5,"[13176, 15005, 47329, 27966, 23909, 48370, 13245, 9633, 27360, 6348, 40878, 6184, 48002, 20914, 37011, 12962, 45698, 24773, 18569, 41176, 48366, 47209, 46522, 38693, 48825, 8479]"
3,8,[23423]
4,12,"[30597, 15221, 43772, 37886, 37215, 34335, 3164, 26910, 38888, 38050, 25213, 11175, 23390, 29471, 43511]"

In [10]:
#productPerUser_eatable - only grabbed "eatable" products per transaction

role = get_execution_role()
bucket='instacartresearchsymposium'
data_key = 'productPerUser_eatable.pickle'
s3 = S3FileSystem(anon=False)


test = pickle.load(s3.open('{}/{}'.format(bucket, data_key), mode='rb'))
test.head()

,UserID,ProductID
0,1,"[196, 12427, 10258, 25133, 10326, 17122, 41787, 13176, 30450, 13032, 49235, 46149, 26088, 14084, 39657, 38928, 35951, 27845]"
1,2,"[49451, 32792, 32139, 34688, 36735, 37646, 22829, 24852, 47209, 33276, 45613, 9681, 21150, 28918, 48110, 32052, 17758, 40198, 46886, 22963, 23, 20084, 2002, 5212, 14306, 16589, 1559, 19156, 18523, 22825, 27413, 33754, 21709, 7781, 2573, 39928, 20785, 24768, 7963, 12000, 27344, 45066, 27966, 46676, 17872, 24954, 4957, 40571, 41787, 19051, 4071, 22124, 22474, 8296, 21227, 16797, 47526, 8479, 47766, 8138, 47144, 5322, 17224, 38656, 21376, 48210, 5907, 14553, 13742, 18961, 15841, 13351, 5450, 48099, 49273, 47792, 9124, 22559, 33957, 27737, 20574, 28874, 35917, 30489, 13176, 3151, 19240, 10305, 24990, 36287, 42356, 12258, 42342, 30908, 79, 5869, 44303, 16521, 39877, 19057, ...]"
2,3,"[38596, 21903, 248, 40604, 17668, 21137, 23650, 32402, 39190, 47766, 43961, 18599, 1005, 9387, 15143, 16797, 39922, 24810, 1819, 24010, 14992, 22035, 44683, 12845, 16965, 28373, 42265, 18370, 49683, 7503, 48523, 42557]"
3,4,"[22199, 25146, 1200, 17769, 43704, 37646, 11865, 35469, 19057, 42329, 26576, 25623, 21573, 36606, 7350]"
4,5,"[27344, 24535, 43693, 40706, 16168, 21413, 13988, 3376, 8518, 26604, 11777, 5999, 6808, 21616, 18761, 13870, 20754, 24231, 15349, 48775, 28289, 31717, 22475, 19057, 16185, 20114, 48204]"

In [11]:
#productPerUser_non_eatable.pickle - grabbed non-eatble products per transaction

role = get_execution_role()
bucket='instacartresearchsymposium'
data_key = 'productPerUser_non_eatable.pickle'
s3 = S3FileSystem(anon=False)


test = pickle.load(s3.open('{}/{}'.format(bucket, data_key), mode='rb'))
test.head()

   UserID       ProductID
0  1       [26405]
1  2       [47553, 12007]
2  3       [8021]
3  4       [7160, 2707]
4  5       [20843]

In [4]:
TOTAL_NUMBER_OF_ORDER = len(test)

def getThreshold(percentage):
    return int((percentage/100) * TOTAL_NUMBER_OF_ORDER)

getThreshold(1)

33460

In [5]:
#constant = 2300000
te = TransactionEncoder()
te_ary = te.fit(test.ProductID).transform(test.ProductID)
df = pd.DataFrame(te_ary, columns=te.columns_)
len(df.columns)

49685

In [6]:
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)
frequent_itemsets.head()

MemoryError: Unable to allocate array with shape (166216314749, 2) and data type int64

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules